@{
    ViewData["Title"] = "Add";
}

<div class="page-section pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                <div class="card-page mt-3">
                    <h5 class="fg-primary">Partners</h5>
                    <hr>
                    <div class="alert bg-warning text-center">
                        <h3 class="text-light">
                            @ViewBag.tx
                        </h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>